<!-- views/partials/_header -->

<h1>TinyAPP</h1>
<br/>

<% if(user){ %>
  <h2>Welcome, <%= user.email %> </h2>

  <form class="form-inline" action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>

<% } else { %>
  <form class="form-inline" action="/login" method="POST">
    <input class="form-control" type="text" name="username" placeholder="Type your user name here!" style="width: 300px; margin: 1em">

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
<% } %>
