<!-- views/partials/_header -->

<h1>TinyAPP</h1>
<br/>

<% if(user){ %>
  <h2>Welcome, <%= user.email %> </h2>

  <form class="form-inline" action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>

<% } else { %>
  <a href="/login">Login</a>          <a href=/register>Register</a>
<% } %>
